:root{
    /* font's colors */
    --main-font-color: #757575;
    --secondary-font-color: #212121;
    --accent-font-color: #2196F3;
    --secondary-accent-color: #000000;
    --alternative-accent-color: #FFFFFF;
    --opacity-color: rgba(255, 255, 255, 0.6);

    /* fonts */
    --main-font: 'Roboto', sans-serif;
    --accent-font: 'Raleway', sans-serif;

    /* backgrounds */
    --main-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --dark-background-color: #2f303a;

    /* others */
    --main-btn-hover: #188CE8;
    --border-color: #ECECEC;
    --icon-color: #AFB1B8;

    /*  animations */
    --time-duration: 250ms;
    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------------------------Global styles -----------------*/
body{
    font-family: var(--main-font);
    color: var(--main-font-color);
    letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

button{
    cursor: pointer;
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

.container{
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* ---------------------------------- Header --------------*/
.header{
    border-bottom-color: var(--border-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-box {
    display: flex;
    align-items: center;
}

.header-contacts{
    display: flex;
}

.logo{
    font-family: var(--accent-font);
    color: var(--secondary-accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-accent{
    color: var(--accent-font-color);
}

.nav{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--secondary-font-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    fill: currentColor;

    transition: color var(--time-duration) var(--time-function);
}

.nav-list{
    display: flex;
    margin-left: 93px;
}

.nav-list > li:not(:last-child),
.header-contacts > li:not(:last-child){
    margin-right: 50px;
}

.nav:hover, 
.nav:focus{
    color: var(--accent-font-color);
}

.info{
    color: inherit;
}

.header-icon{
    margin-right: 10px;
}

.active{
    position: relative;

    color: var(--accent-font-color);
}

.active::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-font-color);

}

/* -------------------------- Hero ------------------------------*/
.dark {
    background-color: var(--dark-background-color);
}

.hero{
    text-align: center;
    background-color: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-position: center;
    background-size: 1600px 600px;    
    background-repeat: no-repeat;
}

.hero-title{
    margin-bottom: 30px;

    color: var(--alternative-accent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-content{
    padding-top: 200px;
    padding-bottom: 200px;
}

.btn{
    font-family: var(--main-font);
    font-size: 16px;
}

.hero-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    
    background-color: var(--accent-font-color);
    color: var(--alternative-accent-color);
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;

    transition: background-color var(--time-duration) var(--time-function);
}

.hero-btn:hover, 
.hero-btn:focus{
    background-color: var(--main-btn-hover);

}

/* ---------------------------- Advantages ----------------------*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.title {
    color: var(--secondary-font-color);
    font-size: 36px;
    line-height: 1.17;
}

.advantage-icon-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;

    background-color: var(--secondary-background-color);
    color: var(--secondary-font-color);
    margin-bottom: 30px;
    border-radius: 4px;
}

.advantage-icon{
    width: 70px;
    height: 70px;
    fill: currentColor;
}

.advantage-list{
    display: flex;

}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantage{
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantage-desc{
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.advantage-item{
    width: calc((100%-3*30)/4);
}

.advantage-item:not(:last-child){
    margin-right: 30px;
}

.social-links{
    display: flex;
    gap: 10px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;
}

/*------------------------- Do ----------------------*/

.do{
    text-align: center;
}

.do-title{
    margin-bottom: 50px;
}

.do-list{
    display: flex;
    gap: 30px;
}

.do-list-thumb{
    position: relative;
}

.do-list-title{
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;

    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--alternative-accent-color);
    background-color: rgba(47, 48, 58, 0.8);
}

/* ----------------------------- Our team ------------------------*/
.team{
    background-color: var(--secondary-background-color);
    text-align: center;
}

.team-title{
    margin-bottom: 50px;
}

.item-title{
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-desc{
    font-size: 16px;
    line-height: 1.19;
}

.team-list{
    display: flex;
    gap: 30px;
}

.team-list-item {
    width: 44px;
    height: 44px;
}

.team-item{
    background-color: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.team-icon{
    width: 20px;
    height: 20px;
}

.team-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    fill: var(--icon-color);
    background-color: var(--alternative-accent-color);

    transition: background-color var(--time-duration) var(--time-function),
    fill var(--time-duration) var(--time-function);
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: var(--accent-font-color);
    fill: var(--alternative-accent-color);
}

.item-text{
    padding: 30px;
}

/* -----------------------------Clients---------------------------- */

.clients{
    text-align: center;
}

.clients-title{
    margin-bottom: 50px;
}

.clients-list{
    display: flex;
    gap: 30px;
}

.clients-list-item{
    width: 170px;
    height: 92px;
}

.clients-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    border-color: var(--icon-color) ;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    fill: var(--icon-color);

    transition: border-color var(--time-duration) var(--time-function),
    fill var(--time-duration) var(--time-function);
}

.clients-icon{
    width: 106px;
    height: 60px;
}

.clients-link:hover,
.clients-link:focus{
    fill: var(--accent-font-color);
    border-color: var(--accent-font-color);
}

/* ---------------------------- Footer -----------------------------*/
.logo-alt{
    color: var(--alternative-accent-color);
}

.contact{
    color: var(--opacity-color);

    transition: color var(--time-duration) var(--time-function);
}

.contact:hover,
.contact:focus {
    color: var(--accent-font-color);
}

.info-desc {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.info-desc.logo-alt{
    color: var(--alternative-accent-color);

    transition: color var(--time-duration) var(--time-function);
}

.info-desc.logo-alt:hover, 
.info-desc.logo-alt:hover{
    color: var(--accent-font-color);
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container{
    display: flex;
    align-items: baseline;
    gap: 94px;
}

address {
    margin-top: 20px;
}

address li:not(:last-child){
    margin-bottom: 9px;
}

.footer-list{
    display: flex;
    gap: 10px;
}

.footer-icon-title{
    margin-bottom: 20px;

    color: var(--alternative-accent-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
}

.footer-list-item{
    width: 44px;
    height: 44px;
}

.footer-icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-color: rgba(255,255,255,0.1);
    color: var(--main-background-color);

    transition: background-color var(--time-duration) var(--time-function);
}

.footer-icon{
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.footer-icon-link:hover,
.footer-icon-link:focus{
    background-color: var(--accent-font-color);
}

.footer-form-container{
    display: flex;
    position: relative;
}

.footer-form-field{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: var(--opacity-color);
}

.footer-form-mail{
    width: 358px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    color: var(--opacity-color);

}

.footer-form-mail:focus + .footer-form-field{
    display: none;
}

.footer-form-mail:focus{
    outline: none;
}

.footer-form-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 28px;
    padding-right: 28px;
    margin-left: 12px;
    height: 50px;
    min-width: 200px;
}


/* -------------------------------- modal----------------------------------- */

.backdrop{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 99;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;

    transition: opacity var(--time-duration) var(--time-function), 
                visibility var(--time-duration) var(--time-function);
}

.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    padding: 40px;

    border-radius: 4px;
    background-color: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform var(--time-duration) var(--time-function);
} 



.modal-close-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: fill var(--time-duration) var(--time-function);
}

.modal-close-btn:hover, .modal-close-btn:focus{
    fill: var(--accent-font-color);
}

.form-title{
    margin-bottom: 12px;

    color: var(--secondary-font-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}

.modal-form{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.input-container{
    position: relative;
    margin-top: 4px;
}

.field{
    display: block;
    position: relative;

    margin-bottom: 10px;
}

.field:focus-within .field-input, .field:focus-within .form-comment{
    outline: none;
    border: 1px solid var(--accent-font-color);
}

.field:focus-within .form-icon{
    fill: var(--accent-font-color)
}

.field:nth-child(5){
    margin-bottom: 20px;
}

.field-input{
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border var(--time-duration) var(--time-function),
                outline var(--time-duration) var(--time-function);
}

.form-icon{
    position: absolute;
    left: 15px; 
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;

    transition: fill var(--time-duration) var(--time-function);
}

.form-comment{
    display: block;
    height: 120px;
    width: 100%;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;

    resize: none;

    transition: border var(--time-duration) var(--time-function),
                outline var(--time-duration) var(--time-function);
}

.form-comment::placeholder{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.custom-checkbox{
    width: 16px;
    height: 15px;
}

.field-license{
    display: flex;
    align-items: center;

    margin-bottom: 30px;
    padding-left: 12px;
}

.link-license{
    color: var(--accent-font-color);
}

.checkbox-icon{
    width:16px;
    height:15px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    border: 1px solid var(--secondary-font-color);
    border-radius: 2px;

    
}

.checkbox-icon-use{
    display: none;
}

.checkbox-input:checked + .checkbox-icon .checkbox-icon-use{
    display: block;
}

.checkbox-input:checked + .checkbox-icon{
    border: none;
}

.btn-container{
    text-align: center;
}

.form-btn{
    padding-left: 52px;
    padding-right: 52px;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}



/* -------------------------------- Portfolio page-------------------------- */

.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-btn{
    display:flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 34px;
}

.portfolio-btn{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    
    font-weight: 500;
    color: var(--secondary-font-color);
    background-color: var(--secondary-background-color);
    line-height: 1.62;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;

    transition: color var(--time-duration) var(--time-function), 
                background-color var(--time-duration) var(--time-function),
                box-shadow var(--time-duration) var(--time-function);
}

.portfolio-btn:hover,
.portfolio-btn:focus{
    color: var(--alternative-accent-color);
    background-color: var(--accent-font-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-item-title{
    margin-bottom: 4px;

    color: var(--secondary-font-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-desc{
    color: var(--main-font-color);
    font-size: 16px;
    line-height: 1.88;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-link{
    box-shadow: none;
    transition: box-shadow var(--time-duration) var(--time-function);
}

.portfolio-link:hover,
.portfolio-link:focus{
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.portfolio-img-thumb{
    position: relative;
    overflow: hidden;
}

.portfolio-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--alternative-accent-color);
    line-height: 1.56;
    overflow: auto;

    transform: translateY(100%);
    transition: transform var(--time-duration) var(--time-function);
}

.portfolio-link:hover .portfolio-img-overlay,
.portfolio-link:focus .portfolio-img-overlay{
    transform: translateY(0%);
}
